.mentornames{
    font-size:50px;
    font-weight:600;
}

.education{
    font-size:20px;
    font-weight:500;
}

.distance{
    font-size:30px;
}

.viewprofile{
    font-size:20px;
    width: 100%;
}
